* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Header section Css start */
.header {
  width: 100%;
  position: fixed;
  border: 2px solid #ccc;
  padding: 5px 0px;
  background-color: white;
}

.header .container {
  width: 1024px;
  margin: auto;
}

.navbar {
  display: flex;

  justify-content: space-between;
}

.navbar .logo {
  margin-top: 5px;
}

.navbar img {
  width: 100%;
  height: auto;
}

.manu {
  /* margin-top: 10px; */
}

.manu ul {
  list-style: none;
}

.manu ul li {
  display: inline-block;
  margin-left: 18px;
}

.manu ul li a {
  text-decoration: none;
  line-height: 60px;
  font-weight: 300;
  /* padding: 15px 10px; */
  color: black;
  display: inline-block;
}

.manu ul li a:hover {
  transition: 0.5s;
  color: #7b7b7b;
  transform: scale(1.2);
}

/* Header section Css end */
/* banner section css start */
.banner {
  width: 100%;
  padding: 120px 0px;
}

.banner .container {
  width: 1140px;
  margin: auto;
}

.banner-box {
  text-align: center;
}

.banner h1 {
  font-size: 45px;
  font-weight: 700;
  color: #0f2656;
  margin-bottom: 10px;
}

.banner h1 span {
  color: #008aff;
  line-height: 1.7;
}

.banner p {
  font-weight: 300;
  padding-bottom: 20px;
}

.banner img {
  /* padding-bottom: 80px; */
}

/* banner section css end */
/* project section css start */
.project {
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
}

.project .container {
  width: 1140px;
  margin: auto;
}

.project .project-box {
  display: flex;
}

.project-box .left {
  flex-basis: 50%;
  text-align: right;
  margin-right: 15px;
}

.project-box .right {
  flex-basis: 50%;
  text-align: left;
  margin-left: 15px;
}

.left h2 {
  color: #f15767;
  font-weight: 600;
  font-size: 40px;
}

.left p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
}

.right h2 {
  color: #0f2656;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
}

/* project section css end */
/* service section css start */
.service {
  width: 100%;
  margin-bottom: 65px;
}

.service .container {
  width: 1140px;
  margin: auto;
}

.service-box {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}

.service-box .box1 {
  background-color: #fdebed;
  padding: 40px 30px;
  font-weight: 300;
  transition: 0.5s;
  font-size: 16px;
}

.service .box1:hover {
  background-color: white;
  box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 10%);
}

.box2 {
  background-color: #ebf9f4;
  padding: 40px 30px;
  font-weight: 300;
  transition: 0.5s;
  font-size: 16px;
}

.service .box2:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box3 {
  background-color: #fff7e8;
  padding: 40px 30px;
  font-weight: 300;
  transition: 0.5s;
  font-size: 16px;
}

.service .box3:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* service section css end */
/* footer section css start*/
.footer {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  background-color: #008aff;
}

.footer p {
  color: white;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 20px;
}

.footer p span {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer a {
  padding: 0px 10px;

  text-decoration: none;
}

.footer i {
  height: 40px;
  width: 40px;
  color: #343b6d;
  font-size: 16px;
  line-height: 40px;
  border-radius: 50%;
  background: #f3f3f3;
  animation: letszoom 3s alternate-reverse infinite;
}

@keyframes letszoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.footer i:hover {
  background-color: #ae1270;
}


/* footer section css start*/
/* sidebar css start */
.icons {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  position: fixed;
  z-index: 100;
}

.icons ul {
  padding: initial;
}

.icons ul li {
  height: 40px;

  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 6px;

  margin-top: 5px;
  color: #fff;
  animation: letszoom 3s alternate-reverse infinite;
}

@keyframes letszoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.facebook {
  background: #3b5998;
}

.whatsapp {
  background: #3b5998;
}

.youtube {
  background: #CD201F;
}

.github {
  background: #24292e;
}

.linkedin {
  background: #0A66C2;
}

.twitter {
  background: #1DA1F2;
}

.instagram {
  background: #ae1270;
}

.icons ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: all .3s linear;
}

/* siderbar css end */